html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.controls {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    border: solid 1px #aaa;
    position: absolute;
    font-size: 14px;
    display: block;
    z-index: 9999;
    width: 400px;
    left: 30px;
    top: 30px;
}

.controls-toggle {
    background-color: #fafafa;
    color: #666 !important;
    text-decoration: none;
    padding: 5px 10px;
    cursor: pointer;
    display: block;
}

.controls-toggle span {
    text-decoration: underline;
    float: right;
}

.controls-body {
    border-top: solid 1px #aaa;
    padding: 10px;
}

p {
    margin: 0 0 10px 0;
    padding: 0;
}

.username-input {
    background-color: #fafafa;
    border: solid 1px #f0f0f0;
    padding: 5px;
}

.username-input input {
    font-family: 'Open Sans', sans-serif;
    border: solid 1px #eaeaea;
    box-sizing: border-box;
    padding: 5px 10px;
    margin-top: 5px;
    font-size: 18px;
    display: block;
    width: 100%;
}

.radio-column-wrapper {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    padding: 10px 5px 0 0;
    width: 50%;
}

.radio-column-wrapper + .radio-column-wrapper {
    padding: 10px 0 0 5px;
}

.radio-column {
    background-color: #fafafa;
    border: solid 1px #f0f0f0;
    padding: 5px;
}

.radio-column label {
    padding: 0 0 0 30px;
    line-height: 30px;
    display: block;
    height: 30px;
}

.radio-column input {
    margin: 2px 0 0 10px;
    position: absolute;
    line-height: 30px;
    height: 30px;
}

.radio-column hr {
    background-color: #f0f0f0;
    margin: 5px -5px 5px;
    border: none;
    height: 1px;
}

#visualization {
    position: absolute;
    height: 100%;
    width: 100%;
}

.go {
    background-color: #685efa;
    border: solid 1px #7050f0;
    margin: 10px 0 0 0;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    display: block;
    height: 40px;
    width: 100%;
    color: #fff;
}

.vis-status {
    line-height: 100vh;
    text-align: center;
    font-size: 2em;
    color: #aaa;
}